* {
    margin: auto;
}



h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.192);
    border-radius: 8px;
    
    background-color: rgb(43, 43, 42);
    color: white;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, li {
    font-size: large;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 8px;
    padding-right: 5px;
}

#deck-el h3 {
    margin-bottom: 10px;
}

#deck-el p {
    background-color: rgb(247, 221, 184);
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 0;
    border: 1px solid rgb(43, 43, 42);
    margin: 5px auto;
}

h3 {
    margin-top: 20px;
}

#lista-desastres-el p {
    background-color: rgb(124, 1, 1);
    color: white;
    padding: 2px;
}

footer p, a {
    text-align: center;
    margin: auto;
}


