body {
    background-color: #81c3c9;
    text-align: center;
    max-width: 400px;
}

#logo {
    max-width: 320px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #f9e98b;
    border: 1px #f9e98b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

footer {
    text-align: center;
}

footer a {
    font-weight: bolder;
}

#deck-el p {
    text-align: center;
    background-color: #f9e98b;
    padding: 10px 20px;
    max-width: 300px;
    margin-bottom: 3px;
    margin-top: 0;
    border: #f9e98b 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
